html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

@supports(padding:max(0px)) {
  body, header, footer {
      padding-left: min(0vmin, env(safe-area-inset-left));
      padding-right: min(0vmin, env(safe-area-inset-right));
  }
}

body {
  background-color: #ddd;
  font-family: sans-serif;
  color: #666;
}

input:invalid {
  border: red solid 3px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content * {
  margin: 5px;
  color: #444;
}

.totalMoney {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adjustMoney {
  display: flex;
  justify-content: center;
  align-items: center;
}

span.dollarSign {
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
}